<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- si LOG_PATH esta definida en jvm arg se utiliza ese path caso contrario se utiliza la definida en esta conf -->
    <if condition='isNull("LOG_PATH")'>
        <then>
            <property name="LOG_PATH" value="logs/log" />
        </then>
    </if>

    <appender name="rootLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>app-log-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/app-log-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>app-log-error-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rootLog" />
    </root>


    <logger name="com.eduit" additivity="false" level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="rootLog" />
    </logger>

    <logger name="com.eduit" additivity="false" level="info">
        <appender-ref ref="errorLog" />
    </logger>



</configuration>